/*****************************************************************************
  tileset
******************************************************************************/
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*****************************************************************************
  Base Styles
******************************************************************************/
.container {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 82.9403914003%;
  vertical-align: auto; }
  .container:last-child {
    margin-right: 0; }

.tile {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  height: 2.5em;
  background-color: #045dd2;
  color: white;
  display: block;
  text-align: center;
  font-size: 2.5rem;
  border-spacing: 0.5rem;
  margin: 0.5rem; }
  .tile:last-child {
    margin-right: 0; }

a {
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  line-height: 2.5em; }

a:visited {
  color: white;
  font-style: normal; }

/*****************************************************************************
  Layout Styles
******************************************************************************/
.titletext {
  font-size: 4.5em;
  margin: 1px; }

/*****************************************************************************
  Module Styles
******************************************************************************/